.cover {
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 0;
  position: relative;
  /* max-width:100%; */
  /* min-height: calc(100% * 0.625); */
  /* max-width: calc(100vw - 48px * 2); */
  /* min-height: calc((100vw - 48px * 2) * 0.625); */
  display: flex;

  min-width: 1184px;
  min-height: 740px;
}
