.place__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #fff;
}

.place__link:hover {
  animation: place-transparency 0.3s linear 1 forwards;
}

@keyframes place-transparency {
  from {
      opacity: 1;
  }
  to {
      opacity: 0.8;
  }
}
