.cover__overlay {
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.cover__overlay::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover::after {
  opacity: 0.8;
}
