.cover__overlay {
  grid-row: 1/1;
  grid-column: 1/1;
  background: #2A2C2F;
  opacity: 0.8;
}


.cover__overlay:hover {
  animation: transparency 0.3s linear 1 forwards;
}

@keyframes transparency {
  from {
      opacity: 0.8;
  }
  to {
      opacity: 0.3;
  }
}
