.place {
  display: grid;
  /* grid-template: max-content 1fr/max-content 1fr; */
  grid-template: max-content max-content/460px 1fr;
  align-items: end;
  gap: 48px 40px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    grid-template: max-content max-content/440px 1fr;
  }
}
@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    grid-template: max-content max-content/calc(100vw / 2 - 44px) 1fr;
  }
}
@media screen and (max-width: 520px) {
  .place {
    gap: 32px 0;
    grid-template: repeat(4,max-content)/320px;
  }
}
